.delivery_promo {
    background-color: #CED8EB;
   
}

.delivery_title {
    font-size: 40px;
    width: 755px;
    font-weight: 450;
}

.delivery_discription {
    font-size: 20px;
    width: 650px;
}

.discription_items {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.delivery_skidka {
    padding-top: 40px;
    font-size: 20px;
}

.delivery_btn {
    font-size: 26px;
    color: white;
    margin-top: 25px;
    width: 297px;
    height: 63px;
    border-radius: 90px;
    border: none;
    background-color: #9fafcd;
    transition: 0.1s linear;

}

.delivery_btn:hover {
    cursor: pointer;
    /* background:none; */
    background-color: #231154;
    border: 1px solid;
    
    transition: 0.1s linear;
}

.delivery_inf {
    padding: 40px;
    display: flex;
}

.delivery_logo {
    display: flex;
    justify-content: center;
}

.delivery_p {
    font-weight: 300;
    font-size: 25px;
    width: 1280px;
}

.text_main {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_text {
    padding-top: 93px;
    padding-bottom: 190px;
}