@import url(./bootstrap-grid.css);
@import url(./reset.css);


@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: inherit;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.url {
    text-decoration: none;
    color: black;
}

.header_high {
    border-bottom: 1px solid black;

}

.header_flex {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.logo {
    padding: 10px;
    width: 287px;
    height: 107px;
}

.service_number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addres {
    width: 250px;
    font-size: 32px;
}

.service_numb {
    font-size: 20px;
}

.btn {
    width: 228px;
    height: 58px;
    font-size: 19px;
    text-align: center;
    color: white;
    border-radius: 90px;
    border: none;
    transition: 0.3s ease;

    background-color: #113054;
}

.btn:hover {
    background: none;
    transition: 0.2s ease;
    color: #113054;
    border: 1px solid #113054;
    cursor: pointer;
}

.navigation_list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navigation_item {
    color: black;
    font-size: 21px;
    font-weight: 600;
}

.header_mini {
    padding: 10px;
}

.promo_section {



    height: 522px;



    background-color: #CED8EB;
}

.promo_inf {
    display: flex;
}

.promo_img {
    position: absolute;
    padding: 10px;
}

.tiitle_inf {
    padding-left: 360px;

}



.discription_inf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-left: 120px;
    font-size: 25px;
}

.promo_title {
    padding-top: 62px;
    position: relative;
    font-size: 64px;
}

.promo_btm {
    margin-top: 30px;
    margin-left: 190px;
    width: 297px;
    height: 63px;
    border-radius: 90px;
    transition: 0.2s ease;
    border: none;
    color: white;
    font-size: 25px;
    background-color: #2d2d2d87;
}

.promo_btm:hover {
    background: none;
    transition: 0.2s ease;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

.promo_image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.device_tittle {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 35px;
}

.slide_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 398px;
    height: 341px;
    border-radius: 90px;
    background-color: #CED8EB;
}

.card_title {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}

.promo_cards {
    flex-wrap: wrap;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 57px;
}

.mac_card {
    width: 528px;
}

.apple_watch {
    width: 342px;
}

.discount_section {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    background: center;
    background-repeat: no-repeat;
    background-image: url(../heder_img/Blend\ Group\ 2.svg);
}

.discount_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 903px;
    height: 383px;
    max-width: 903px;
    border-radius: 78px;
    background-color: #e7ecf676;
}

.card_discount {
    display: flex;
    justify-content: center;
}

.dicount_card_title {
    font-size: 128px;
    font-weight: 500;
    color: #231154;
}

.discription_text {
    /* padding-left: 68px;
    padding-right: 68px; */
    width: 849px;
    font-size: 32px;
    text-align: start;
}

.discount_btn {
    align-items: start;
    width: 320px;
    height: 52px;
    border-radius: 90px;
    border: none;
    color: white;
    font-size: 28px;
    transition: 0.3s ease;
    background-color: #113054;
}

.discount_btn:hover {
    cursor: pointer;
    background: none;
    color: #113054;
    border: 1px solid #113054;
    transition: 0.3s ease;
}

.inside_inf {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.advantages {
   
    padding-top: 145px;
}


.advantage_card_tittle {
    font-size: 22px;
    font-weight: 500;
}

.advantage_discription {
    font-size: 19px;
    font-weight: 300;

}

.advantage_inf {
    padding-bottom: 50px;
    border-bottom: 1px solid;
}

.quesion_card {
   
    display: flex;
    margin-top: 50px;
    padding: 78px 43px 0 43px;
    width: 1200px;
    height: 600px;
    border-radius: 90px;

    background-color: #CED8EB;
}

.quesion_tittle {
    margin-bottom: 20px;
    font-size: 52px;
    color: black;
}

.quesion_discription {
    font-size: 32px;
    width: 700px;
    font-weight: 300;

}

.quesion_btn {
    margin-top: 70px;
    width: 437px;
    height: 89px;
    border-radius: 90px;
    border: none;
    font-size: 30px;
    background-color: white;
    transition: 0.3s ease;

}

.quesion_btn:hover {
    cursor: pointer;
    background-color: #113054;
    color: white;
    transition: 0.3s ease;
}

.quesion_input {
    width: 437px;
    height: 89px;
    border-radius: 90px;
    border: none;
    margin-top: 20px;
}

.quesion_input::placeholder {
    font-size: 25px;

}

.footer_inf {
    display: flex;
}

.foot_inf_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.confedic {
    font-size: 18px;
    width: 450px;
    font-weight: 500;
}

.footer_inf {
    padding-top: 82px;
}

.foot_adres {
    font-size: 24px;
}
